* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --white: #FFF;
    --green: #3EB25E;
    --light-green: #C5E8CF;
    --yellow: #FFFF7D;
    --grey: #475242;
    --light-grey: #BFBFBF;
    --black: #000000;
}

main {
    margin-top: -2rem;
}

h3 {
    line-height: 3vw;
    font-size: clamp(0.8rem, 2vw, 1.813rem);
}

.container {
    gap: 0%;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

#format {
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    width: 85%;
}

#img img {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    height: 80%;
}

#text {
    text-align: justify;
    margin-top: 7%;
    line-height: 2rem;
    justify-content: center;
}

#btns {
    display: flex;
    justify-content: center;
    gap: 2%;
}

#btns button {
    margin-top: 0;
}

#skipBtn {
    width: 31vw;
}

.custom-arrow {
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.6rem solid var(--light-green);
    transform: translate(27.5%, -225%);
}

.custom-arrow:hover {
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.6rem solid var(--green);
    transform: translate(27.5%, -225%);
}

.container2 {
    display: block;
    position: relative;
    padding-left: max(3vh,5%);
    margin-bottom: 1%;
    font-size: clamp(0.8rem, 1.5vw, 3rem);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container2 input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 22%;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--light-green);
    border-radius: 20%;
  }
  
  .container2:hover input ~ .checkmark {
    cursor: pointer;
  }
  
  .container2 input:checked ~ .checkmark {
    background-color: var(--green);
  }
  
  /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* .container2 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    background: white;
  } */

  @media only screen and (max-width: 480px) {

    main {
        margin-top: -2rem;
    }

    h1 {
        color: var(--black);
        font-size: clamp(1rem, 8vw, 6.938rem);
    }
    
    h3 {
        color: var(--black);
        font-size: 1.1rem;
    }

    p {
        font-size: 0.85rem;
    }
    
    button {
        background-color: var(--green);
        color: var(--white);
        font-size: clamp(0.5rem, 3vw, 1.375rem);
        border: none;
        border-radius: 2.188rem;
        width: 25vw;
        cursor: pointer;
    }    

    .container {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #img {
        margin-left: 0;
        position: relative;
        width: 100%;
    }

    #text {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 5%;
        text-align: justify;
        width: 100%;
    }

    #img img {
        display: block;
        margin-top: 20%;
        margin-left: 25%;
        margin-bottom: 5%;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 50%;
    }

    #skipBtn {
        width: 52vw;
    }

    .custom-arrow {
        position: absolute;
        display: block;
        width: 0; 
        height: 0; 
        border-left: 0.52rem solid transparent;
        border-right: 0.52rem solid transparent;
        border-top: 0.52rem solid var(--light-green);
        transform: translate(15%, -220%);
    }
    
    .custom-arrow:hover {
        position: absolute;
        display: block;
        width: 0; 
        height: 0; 
        border-left: 0.52rem solid transparent;
        border-right: 0.52rem solid transparent;
        border-top: 0.52rem solid var(--green);
        transform: translate(15%, -220%);
    }

    .container2 {
        display: block;
        position: relative;
        padding-left: max(3vh,5%);
        font-size: clamp(0.8rem, 1.5vw, 3rem);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 1.2rem;
        margin-top: 3%;
    }
  
    .container2 input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        position: absolute;
        top: 0.1rem;
        left: 0;
        height: 1rem;
        width: 1rem;
        background-color: var(--light-green);
    }
    
    .container2:hover input ~ .checkmark {
        cursor: pointer;
    }
    
    .container2 input:checked ~ .checkmark {
        background-color: var(--green);
    }
    
    /* .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    } */
    
    .container2 input:checked ~ .checkmark:after {
        display: block;
    }
    
    .container2 .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

}