* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --white: #FFF;
    --green: #3EB25E;
    --grey: #BFBFBF;
    --black: #000000;
}

#text {
    text-align: justify;
}