* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --white: #FFF;
    --green: #3EB25E;
    --light-green: #3EB25E;
    --yellow: #FFFF7D;
    --grey: #475242;
    --light-grey: #BFBFBF;
    --black: #000000;
}

#text {
    width: 25rem;
}

p {
    margin-top: 5%;
}

@media only screen and (max-width: 480px) {

    h1 {
        color: var(--black);
        font-size: clamp(1rem, 8vw, 6.938rem);
    }
    
    h3 {
        color: var(--black);
        font-size: 1.3rem;
    }

    p {
        font-size: 0.85rem;
    }
    
    button {
        background-color: var(--green);
        color: var(--white);
        font-size: clamp(0.5rem, 3vw, 1.375rem);
        border: none;
        border-radius: 2.188rem;
        width: 25vw;
        cursor: pointer;
        margin-top: 7%;
    }    

    .container {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #img {
        margin-left: 0;
        position: relative;
        width: 100%;
    }

    #text {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        width: 100%;
    }

    #img img {
        display: block;
        margin-top: 20%;
        margin-left: 25%;
        margin-bottom: 5%;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 50%;
    }

}