* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --white: #FFF;
    --green: #3EB25E;
    --light-green: #3EB25E;
    --yellow: #FFFF7D;
    --grey: #475242;
    --light-grey: #BFBFBF;
    --black: #000000;
}

h3 {
    font-size: 1.5rem;
}

#text {
    width: 30rem;
    text-align: left;
}

form {
    margin-top: 1%;
}

textarea {
    font-size: 1.7rem;
    color: var(--light-grey);
    width: 28.688rem;
    height: 3.25rem;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    text-align: justify;
    padding: 0.5rem 0;
    resize: none;
}

textarea:focus {
    outline: none !important;
    font-size: 1.7rem;
    color: var(--black);
    width: 28.688rem;
    height: 3.25rem;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    text-align: justify;
    padding: 0.5rem 0;
    resize: none;
}

#age {
    font-size: 1.7rem;
    color: var(--light-grey);
    width: 9.5rem;
    height: 3.25rem;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    text-align: justify;
    padding: 0.5rem 0;
    resize: none;
}

#age:focus {    
    outline: none !important;
    font-size: 1.7rem;
    color: var(--black);
    width: 9.5rem;
    height: 3.25rem;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    text-align: justify;
    padding: 0.5rem 0;
    resize: none;
}

@media only screen and (max-width: 480px) {

    h1 {
        color: var(--black);
        font-size: clamp(1rem, 8vw, 6.938rem);
    }
    
    h3 {
        color: var(--black);
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
    }

    p {
        font-size: 0.85rem;
    }
    
    button {
        background-color: var(--green);
        color: var(--white);
        font-size: clamp(0.5rem, 3vw, 1.375rem);
        border: none;
        border-radius: 2.188rem;
        width: 25vw;
        cursor: pointer;
    }    

    .container {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    #img {
        margin-left: 0;
        position: relative;
        width: 100%;
    }

    #text {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 5%;
        text-align: justify;
        width: 100%;
    }

    #img img {
        display: block;
        margin-top: 20%;
        margin-left: 25%;
        margin-bottom: 5%;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 50%;
    }

    #skipBtn {
        width: 52vw;
    }

    textarea {
        font-size: 0.9rem;
        color: var(--light-grey);
        width: 17.375rem;
        height: 2.063rem;
        border: 1px solid var(--light-grey);
        border-radius: 20px;
        text-align: justify;
        padding: 0.4rem 0;
        resize: none;
    }
    
    textarea:focus {
        outline: none !important;
        font-size: 0.9rem;
        color: var(--black);
        width: 17.375rem;
        height: 2.063rem;
        border: 1px solid var(--light-grey);
        border-radius: 20px;
        text-align: justify;
        padding: 0.4rem 0;
        resize: none;
    }
    
    #age {
        font-size: 0.9rem;
        color: var(--light-grey);
        width: 6.938rem;
        height: 2.063rem;
        border: 1px solid var(--light-grey);
        border-radius: 20px;
        text-align: justify;
        padding: 0.4rem 0;
        resize: none;
    }
    
    #age:focus {    
        outline: none !important;
        font-size: 0.9rem;
        color: var(--black);
        width: 6.938rem;
        height: 2.063rem;
        border: 1px solid var(--light-grey);
        border-radius: 20px;
        text-align: justify;
        padding: 0.4rem 0;
        resize: none;
    }
}